body {
    background: black;
}

.gameWindow {
    width: 90vw; 
    height: 90vh; 
    background: rgb(78, 189, 154);
    border-style: solid;
    border-color: white;
    border-width: 5px;
    margin-left: 5vw;
    margin-right: 5vw;
    margin-top: 3vh;
    margin-bottom: 3vh;
}
.buttonBox {
    width:100%; 
    height:30%;
    text-align: center;
    border-top: 5%;
    position: relative;
    top: 5%;
}
.crystalBox {
    width:100%; 
    height:40%;
    text-align: center;
    border-top: 5%;
}
.scoreBox, .pointsBox {
    width:100%; 
    height:10%;  
    text-align: center;
}
.startButton, .resetButton {
    width: 25%; 
    height: 80px;
}
.resetButton:hover { 
    opacity: .8;
  }
.startButton:hover { 
    opacity: .8;
}

.wins, .losses, .points, .pointsToWin {
    width: 100%;
}
.crystal {
    width: 24%; 
    height: 100%;
}

.crystal:hover { 
    opacity: .5;
  }

.button {
    width: 24%; 
    height: 50%;
}